@import "@elastic/eui/src/themes/amsterdam/colors_light";
@import "@elastic/eui/src/themes/amsterdam/globals";

.predictionSources {
  //.euiStepNumber--small {
  //  background-color: $euiColorSecondary;
  //}

  .euiStep__content {
    margin-left: 16px;
    padding: 0 0 16px 16px;
  }

  .euiStep:last-child {
    .euiStep__content {
      padding-bottom: 0;
    }
  }
}
