.euiPanel--configSection.experimentCredentials {
  .euiDescriptionList {
    margin-left: 10px;

    .euiDescriptionList__title {
      width: 70px;
    }

    .euiDescriptionList__description {
      width: calc(100% - 70px);
    }
  }
}
