{
    "routes": [
        {
            "id": "control",
            "type": "PROXY",
            "endpoint": "{{.MockserverEndpoint}}/control",
            "timeout": "5s"
        }
    ],
    "default_route_id": "control",
    "experiment_engine": {
        "type": "nop"
    },
    "resource_request": {
        "min_replica": 1,
        "max_replica": 1,
        "cpu_request": "200m",
        "memory_request": "250Mi"
    },
    "timeout": "5s",
    "log_config": {
        "result_logger_type": "nop"
    },
    "enricher": {
        "image": "{{.TestEchoImage}}",
        "resource_request": {
            "min_replica": 1,
            "max_replica": 1,
            "cpu_request": "10",
            "memory_request": "1Gi"
        },
        "endpoint": "anything",
        "timeout": "2s",
        "port": 80,
        "env": [
            {
                "name": "TEST_ENV",
                "value": "enricher"
            }
        ]
    },
    "ensembler": {
        "type": "docker",
        "docker_config": {
            "image": "{{.TestEchoImage}}",
            "resource_request": {
                "min_replica": 2,
                "max_replica": 2,
                "cpu_request": "200m",
                "memory_request": "256Mi"
            },
            "endpoint": "anything",
            "timeout": "3s",
            "port": 80,
            "env": [
                {
                    "name": "TEST_ENV",
                    "value": "ensembler"
                }
            ]
        }
    }
}
