{
    "environment_name": "{{.DeploymentEnvironment}}",
    "name": "e2e-traffic-rules-{{.TestID}}",
    "config": {
        "routes": [
            {
                "id": "control",
                "type": "PROXY",
                "endpoint": "{{.MockserverEndpoint}}/control",
                "timeout": "5s"
            },
            {
                "id": "treatment-a",
                "type": "PROXY",
                "endpoint": "{{.MockserverEndpoint}}/treatment-a",
                "timeout": "5s"
            },
            {
                "id": "treatment-b",
                "type": "PROXY",
                "endpoint": "{{.MockserverEndpoint}}/treatment-b",
                "timeout": "5s"
            }
        ],
        "rules": [
            {
                "name": "rule-1",
                "conditions": [
                    {
                        "field_source": "header",
                        "field": "X-Region",
                        "operator": "in",
                        "values": ["region-a"]
                    }
                ],
                "routes": ["treatment-a"]
            },
            {
                "name": "rule-2",
                "conditions": [
                    {
                        "field_source": "payload",
                        "field": "service_type.id",
                        "operator": "in",
                        "values": ["service-type-b"]
                    }
                ],
                "routes": ["treatment-b"]
            }
        ],
        "experiment_engine": {
            "type": "nop"
        },
        "resource_request": {
            "min_replica": 1,
            "max_replica": 1,
            "cpu_request": "200m",
            "memory_request": "250Mi"
        },
        "timeout": "5s",
        "log_config": {
            "result_logger_type": "nop"
        },
        "ensembler": {
            "type": "docker",
            "docker_config": {
                "image": "{{.TestEchoImage}}",
                "resource_request": {
                    "min_replica": 2,
                    "max_replica": 2,
                    "cpu_request": "200m",
                    "memory_request": "256Mi"
                },
                "endpoint": "anything",
                "timeout": "3s",
                "port": 80,
                "env": [
                    {
                        "name": "TEST_ENV",
                        "value": "ensembler"
                    }
                ]
            }
        }
    }
}
