{
    "environment_name": "{{.DeploymentEnvironment}}",
    "name": "e2e-experiment-{{.TestID}}",
    "config": {
        "routes": [
            {
                "id": "control",
                "type": "PROXY",
                "endpoint": "{{.MockserverHTTPEndpoint}}/control",
                "timeout": "5s"
            }
        ],
        "experiment_engine": {
            "type": "proprietary",
            "config": {
                "client": {
                    "id": "1",
                    "username": "test",
                    "passkey": "test"
                },
                "experiments": [
                    {
                        "id": "001",
                        "name": "exp_1"
                    }
                ],
                "variables": {
                    "experiment_variables": {
                        "001": [
                            {
                                "name": "client_id",
                                "type": "unit",
                                "required": true
                            }
                        ]
                    },
                    "config": [
                        {
                            "name": "client_id",
                            "required": true,
                            "field": "client.id",
                            "field_source": "payload"
                        }
                    ]
                }
            }
        },
        "resource_request": {
            "min_replica": 1,
            "max_replica": 1,
            "cpu_request": "100m",
            "memory_request": "250Mi"
        },
        "timeout": "5s",
        "protocol": "HTTP_JSON",
        "log_config": {
            "result_logger_type": "nop"
        },
        "enricher": {
            "image": "{{.TestEchoImage}}",
            "resource_request": {
                "min_replica": 1,
                "max_replica": 1,
                "cpu_request": "200m",
                "memory_request": "1Gi"
            },
            "endpoint": "anything",
            "timeout": "2s",
            "port": 80,
            "env": [
                {
                    "name": "TEST_ENV",
                    "value": "enricher"
                }
            ]
        },
        "ensembler": {
            "type": "docker",
            "docker_config": {
                "image": "{{.TestEchoImage}}",
                "resource_request": {
                    "min_replica": 2,
                    "max_replica": 2,
                    "cpu_request": "200m",
                    "memory_request": "256Mi"
                },
                "endpoint": "anything",
                "timeout": "3s",
                "port": 80,
                "env": [
                    {
                        "name": "TEST_ENV",
                        "value": "ensembler"
                    }
                ]
            }
        }
    }
}
