{{- if .Values.turing.clusterConfig.useInClusterConfig -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "turing.serviceAccount.name" . }}-cluster-role
  labels:
{{ include "turing.labels" . | indent 4 }}
{{- if .Values.turing.labels }}
{{ toYaml .Values.turing.labels | indent 4 -}}
{{- end }}
rules:
- apiGroups: [""]
  resources:
  - services
  - pods
  - pods/log
  - namespaces
  - configmaps
  - secrets
  - persistentvolumeclaims
  - serviceaccounts
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - "*"
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - "*"
- apiGroups:
  - "batch"
  resources:
  - jobs
  verbs:
  - "*"
- apiGroups:
  - serving.knative.dev
  resources:
  - services
  verbs: ["get", "create", "delete", "update"]
- apiGroups:
  - networking.istio.io
  resources:
  - virtualservices
  verbs: ["get", "create", "delete", "update"]
- apiGroups:
  - sparkoperator.k8s.io
  resources:
  - sparkapplications
  verbs: ["get", "create", "delete", "update"]
{{- end }}
