@import "@elastic/eui/src/themes/amsterdam/colors_light";
@import "@elastic/eui/src/themes/amsterdam/globals";

.euiCard--treatmentMappingCard {
  .euiCard__image {
    background-color: $euiPageBackgroundColor;
  }
  .euiCard__content {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
