@import "~@elastic/eui/src/global_styling/variables";

.accordionForm {
  .accordionForm--sideNavContainer {
    padding: $euiSize $euiSizeL;
    border-right: 1px solid #d3dae6;
    width: 216px;

    .euiSpacer {
      margin-top: $euiHeaderHeight + 1;
    }
  }

  .accordionForm--content {
    > .euiFlexGroup > .euiFlexItem {
      width: 90%;
    }
  }
  .euiAccordionForm__button:hover,
  .euiAccordion__button:focus {
    text-decoration: none !important;
  }

  // https://github.com/elastic/eui/issues/3548
  .euiAccordion__childWrapper {
    transform: none;
  }
}
