[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudpickle = "==2.0.0"
google-cloud-storage = ">=1.37.0"
jinjasql = "==0.1.8"
jinja2 = "==3.0.3"
numpy = "==1.21.6"
pandas = "==1.3.5"
py4j = "==0.10.9"
pyarrow = "<=9.0.0,>=0.14.1"
pyspark = "==3.0.1"
pyyaml = "==6.0"
turing-sdk = "==1.22.1.dev47"

[dev-packages]
