.euiPanel--activityLog {
  min-height: 480px;
  flex-basis: 0;
  flex-grow: 1;
  overflow-y: auto;

  .scrollToBottom--container {
    height: 100%;

    .euiCommentEvent {
      height: calc(100% + 16px) !important;
      border: 0;

      .euiCommentEvent__header {
        border-bottom: 0;
        background: none;
        padding: 4px;
      }

      .euiCommentEvent__body {
        padding: 4px;
      }
    }

    .followButton {
      display: none;
    }
  }
}
