cloudpickle==2.0.0
deprecation==2.1.0
fire
google-cloud-storage>=1.19.0
mlflow>=1.26.1,<2.0.0
pandas
protobuf>=3.12.0,<5.0.0 # Determined by the mlflow dependency
python_dateutil>=2.5.3
requests
urllib3>=1.25.3
caraml-auth-google==0.0.0.post9
PyPrind>=2.11.2
numpy>=1.26.0
