@import "~@elastic/eui/dist/eui_theme_light.css";
@import "~@caraml-dev/ui-lib/dist/index.css";

// don't stretch all the way
@media only screen and (min-width: 960px) {
  .euiPage {
    max-width: 92% !important;
  }
}

.euiBody--collapsibleNavIsDocked {
  padding-left: 262px !important;
}

// to overwrite this from @caraml-dev/ui-lib
.euiTableCellContent .cell-first-column,
.euiTableCellContent svg {
  margin-right: 0 !important;
}
