WITH features AS (
    {{ features_query | indent }}
),

{% for name, source in predictions.items() -%}
{{ name }}_predictions AS (
    {{ source.dataset.query | indent }}
){% if not loop.last %},{% endif %}

{% endfor -%}

SELECT
    features.*
    {%- for name, source in predictions.items() %}
    {% if source.prediction_columns | length == 1 -%}
    , {{ name }}_predictions.{{ source.prediction_columns[0] }} as {{ prefix }}{{ name }}
    {%- else -%}
    , (SELECT AS STRUCT
      {%- for col in source.prediction_columns %}
          {{ name }}_predictions.{{ col }}{% if not loop.last %},{% endif %}
      {%- endfor %}
    ) as {{ prefix }}{{ name }}
    {%- endif %}
    {%- endfor %}
FROM features
{%- for name, source in predictions.items() %}
    LEFT JOIN {{name}}_predictions ON
    {%- for left, right in join_columns | zip(source.join_columns) -%}
    {% if not loop.first %}
        AND{% endif %} features.{{ left }}={{name}}_predictions.{{ right }}
    {%- endfor -%}
{%- endfor -%}
