name: engines/batch-ensembler

on:
  push:
    paths:
      - .github/workflows/engines-batch-ensembler.yaml
      - engines/batch-ensembler/**
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./engines/batch-ensembler
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true

      - name: Cache Conda environment
        uses: actions/cache@v2
        with:
          path: ./env
          key: conda-${{ hashFiles('environment.yaml') }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements.dev.txt') }}
          restore-keys: |
            conda-

      - name: Install dependencies
        run: make setup

      - name: Run unit tests
        run: make test-unit

  publish-docker:
    if: >-
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.repository
      ) || (
        github.event_name == 'pull_request_target' &&
        github.event.pull_request.head.repo.full_name != github.repository
      ) || (
        github.event_name == 'push' &&
        github.event.pull_request.head.repo.full_name == github.repository
      )
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Get branch name
        run: echo "branch_name=$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/*/}} | tr / -)" >> $GITHUB_ENV

      - name: Build and publish base batch ensembler Docker image
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          registry: ghcr.io
          repository: gojek/turing-batch-ensembler
          path: engines/batch-ensembler
          dockerfile: engines/batch-ensembler/Dockerfile
          tags: ${{ env.branch_name }}
          push: true