name: helm-chart

on:
  push:
    paths:
      - ".github/workflows/helm-chart.yaml"
      - "api/db-migrations/**"
      - "infra/charts/**"
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run chart-releaser
        uses: stefanprodan/helm-gh-pages@v1.4.1
        with:
          token: "${{ secrets.GH_PAGES_TOKEN }}"
          charts_url: https://dsp-tech.github.io/charts
          charts_dir: infra/charts
          owner: dsp-tech
          repository: charts
          commit_username: ${{ github.actor }}
          commit_email: "${{ github.actor }}@users.noreply.github.com"

