name: helm-chart

on:
  push:
    paths:
      - '.github/workflows/helm-chart.yaml'
      - 'api/db-migrations/**'
      - 'infra/charts/**'
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/helm-chart.yaml'
      - 'api/db-migrations/**'
      - 'infra/charts/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run chart-releaser
        uses: stefanprodan/helm-gh-pages@v1.4.1
        with:
          token: "${{ secrets.GH_PAGES_TOKEN }}"
          charts_url: https://turing-ml.github.io/charts
          charts_dir: infra/charts
          owner: turing-ml
          repository: charts
          commit_username: ${{ github.actor }}
          commit_email: "${{ github.actor }}@users.noreply.github.com"

